services:
  # 1. Master Node (Cluster Manager)
  spark-master:
    build: .
    container_name: spark-master
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "9090:8080" # 웹 UI 
      - "7077:7077" # 내부 통신용
    networks:
      - spark-net

  # 2. Worker Node (Executor)
  spark-worker:
    build: .
    container_name: spark-worker
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      - spark-master
    volumes:
      - ./data:/workspace/data
    networks:
      - spark-net

  # 3. Jupyter Lab (Driver & Client)
  jupyter:
    build: .
    container_name: spark-jupyter
    command: >
      jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token=''
    volumes:
      - ./notebooks:/workspace # 노트북 저장소
      - ./data:/workspace/data # 데이터 저장소
    ports:
      - "8888:8888" # Jupyter 접속
      - "4040:4040" # Spark Job 모니터링 UI
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - PYSPARK_SUBMIT_ARGS=--packages org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.4.3 --conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions --conf spark.sql.catalog.my_iceberg=org.apache.iceberg.spark.SparkCatalog --conf spark.sql.catalog.my_iceberg.type=hadoop --conf spark.sql.catalog.my_iceberg.warehouse=/workspace/data/iceberg_warehouse pyspark-shell
    depends_on:
      - spark-master
    networks:
      - spark-net

  # kafka 추가
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
      - KAFKA_NUM_PARTITIONS=1
    networks:
      - spark-net

  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"
    volumes:
      - cassandra-data:/var/lib/cassandra # 하단 volumes에 정의 필요
    environment:
      - CASSANDRA_CLUSTER_NAME=SparkCluster
      - CASSANDRA_DC=datacenter1
      - MAX_HEAP_SIZE=1G
      - HEAP_NEWSIZE=200M
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge

volumes:
  cassandra-data: # 카산드라 데이터 영구 저장소
